In [ ]:
from google.colab import files
files.upload()

Saving NOTEEVENTS.csv.gz to NOTEEVENTS.csv.gz

In [7]:
import pandas as pd
import numpy as np
admissions = pd.read_csv('ADMISSIONS.csv.gz',  compression='gzip',error_bad_lines=False)
note = pd.read_csv('NOTEEVENTS.csv.gz',  compression='gzip',error_bad_lines=False)
patients = pd.read_csv('PATIENTS.csv.gz',  compression='gzip',error_bad_lines=False)

/Users/yge/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [9]:
note = note[note['CATEGORY']=='Discharge summary']

In [10]:
print(len(admissions), admissions.columns)
print(len(patients),patients.columns)
print(len(note), note.columns)

58976 Index(['ROW_ID', 'SUBJECT_ID', 'HADM_ID', 'ADMITTIME', 'DISCHTIME',
       'DEATHTIME', 'ADMISSION_TYPE', 'ADMISSION_LOCATION',
       'DISCHARGE_LOCATION', 'INSURANCE', 'LANGUAGE', 'RELIGION',
       'MARITAL_STATUS', 'ETHNICITY', 'EDREGTIME', 'EDOUTTIME', 'DIAGNOSIS',
       'HOSPITAL_EXPIRE_FLAG', 'HAS_CHARTEVENTS_DATA'],
      dtype='object')
46520 Index(['ROW_ID', 'SUBJECT_ID', 'GENDER', 'DOB', 'DOD', 'DOD_HOSP', 'DOD_SSN',
       'EXPIRE_FLAG'],
      dtype='object')
59652 Index(['ROW_ID', 'SUBJECT_ID', 'HADM_ID', 'CHARTDATE', 'CHARTTIME',
       'STORETIME', 'CATEGORY', 'DESCRIPTION', 'CGID', 'ISERROR', 'TEXT'],
      dtype='object')

In [11]:

display(admissions)
display(patients)
display(note)

#admissions.ETHNICITY.value_counts().plot(kind = 'bar')

,ROW_ID,SUBJECT_ID,HADM_ID,ADMITTIME,DISCHTIME,DEATHTIME,ADMISSION_TYPE,ADMISSION_LOCATION,DISCHARGE_LOCATION,INSURANCE,LANGUAGE,RELIGION,MARITAL_STATUS,ETHNICITY,EDREGTIME,EDOUTTIME,DIAGNOSIS,HOSPITAL_EXPIRE_FLAG,HAS_CHARTEVENTS_DATA
0,21,22,165315,2196-04-09 12:26:00,2196-04-10 15:54:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,DISC-TRAN CANCER/CHLDRN H,Private,NaN,UNOBTAINABLE,MARRIED,WHITE,2196-04-09 10:06:00,2196-04-09 13:24:00,BENZODIAZEPINE OVERDOSE,0,1
1,22,23,152223,2153-09-03 07:15:00,2153-09-08 19:10:00,NaN,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME HEALTH CARE,Medicare,NaN,CATHOLIC,MARRIED,WHITE,NaN,NaN,CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS...,0,1
2,23,23,124321,2157-10-18 19:34:00,2157-10-25 14:00:00,NaN,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,HOME HEALTH CARE,Medicare,ENGL,CATHOLIC,MARRIED,WHITE,NaN,NaN,BRAIN MASS,0,1
3,24,24,161859,2139-06-06 16:14:00,2139-06-09 12:48:00,NaN,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,HOME,Private,NaN,PROTESTANT QUAKER,SINGLE,WHITE,NaN,NaN,INTERIOR MYOCARDIAL INFARCTION,0,1
4,25,25,129635,2160-11-02 02:06:00,2160-11-05 14:55:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,HOME,Private,NaN,UNOBTAINABLE,MARRIED,WHITE,2160-11-02 01:01:00,2160-11-02 04:27:00,ACUTE CORONARY SYNDROME,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58971,58594,98800,191113,2131-03-30 21:13:00,2131-04-02 15:02:00,NaN,EMERGENCY,CLINIC REFERRAL/PREMATURE,HOME,Private,ENGL,NOT SPECIFIED,SINGLE,WHITE,2131-03-30 19:44:00,2131-03-30 22:41:00,TRAUMA,0,1
58972,58595,98802,101071,2151-03-05 20:00:00,2151-03-06 09:10:00,2151-03-06 09:10:00,EMERGENCY,CLINIC REFERRAL/PREMATURE,DEAD/EXPIRED,Medicare,ENGL,CATHOLIC,WIDOWED,WHITE,2151-03-05 17:23:00,2151-03-05 21:06:00,SAH,1,1
58973,58596,98805,122631,2200-09-12 07:15:00,2200-09-20 12:08:00,NaN,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME HEALTH CARE,Private,ENGL,NOT SPECIFIED,MARRIED,WHITE,NaN,NaN,RENAL CANCER/SDA,0,1
58974,58597,98813,170407,2128-11-11 02:29:00,2128-12-22 13:11:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,SNF,Private,ENGL,CATHOLIC,MARRIED,WHITE,2128-11-10 23:48:00,2128-11-11 03:16:00,S/P FALL,0,0
58975,58598,98813,190264,2131-10-25 03:09:00,2131-10-26 17:44:00,NaN,EMERGENCY,CLINIC REFERRAL/PREMATURE,HOME,Private,ENGL,CATHOLIC,MARRIED,WHITE,2131-10-25 00:08:00,2131-10-25 04:35:00,INTRACRANIAL HEMORRHAGE,0,1

,ROW_ID,SUBJECT_ID,GENDER,DOB,DOD,DOD_HOSP,DOD_SSN,EXPIRE_FLAG
0,234,249,F,2075-03-13 00:00:00,NaN,NaN,NaN,0
1,235,250,F,2164-12-27 00:00:00,2188-11-22 00:00:00,2188-11-22 00:00:00,NaN,1
2,236,251,M,2090-03-15 00:00:00,NaN,NaN,NaN,0
3,237,252,M,2078-03-06 00:00:00,NaN,NaN,NaN,0
4,238,253,F,2089-11-26 00:00:00,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...
46515,31840,44089,M,2026-05-25 00:00:00,NaN,NaN,NaN,0
46516,31841,44115,F,2124-07-27 00:00:00,NaN,NaN,NaN,0
46517,31842,44123,F,2049-11-26 00:00:00,2135-01-12 00:00:00,2135-01-12 00:00:00,NaN,1
46518,31843,44126,F,2076-07-25 00:00:00,NaN,NaN,NaN,0
46519,31844,44128,M,2098-07-25 00:00:00,NaN,NaN,NaN,0

,ROW_ID,SUBJECT_ID,HADM_ID,CHARTDATE,CHARTTIME,STORETIME,CATEGORY,DESCRIPTION,CGID,ISERROR,TEXT
0,174,22532,167853.0,2151-08-04,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2151-7-16**] Dischar...
1,175,13702,107527.0,2118-06-14,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2118-6-2**] Discharg...
2,176,13702,167118.0,2119-05-25,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2119-5-4**] D...
3,177,13702,196489.0,2124-08-18,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2124-7-21**] ...
4,178,26880,135453.0,2162-03-25,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2162-3-3**] D...
...,...,...,...,...,...,...,...,...,...,...,...
60411,59608,93924,135672.0,2104-06-14,NaN,NaN,Discharge summary,Addendum,NaN,NaN,"Name: [**Known lastname 18321**],[**Known fir..."
60412,59609,17782,155710.0,2112-03-31,NaN,NaN,Discharge summary,Addendum,NaN,NaN,"Name: [**Known lastname 2706**], [**Known fir..."
60413,59621,96333,183951.0,2197-06-18,NaN,NaN,Discharge summary,Addendum,NaN,NaN,Name: [**Known lastname 18357**]-[**Known las...
60414,59622,66717,169165.0,2129-08-14,NaN,NaN,Discharge summary,Addendum,NaN,NaN,"Name: [**Known lastname **],[**Known firstnam..."
60415,59623,73790,157100.0,2113-07-18,NaN,NaN,Discharge summary,Addendum,NaN,NaN,"Name: [**Known lastname 12459**],[**Known fir..."

In [12]:
from datetime import datetime

patients['DOD']= pd.to_datetime(patients['DOD']).dt.date
patients['DOB']= pd.to_datetime(patients['DOB']).dt.date
admissions['ADMITTIME']= pd.to_datetime(admissions['ADMITTIME']).dt.date
admissions['DISCHTIME']= pd.to_datetime(admissions['DISCHTIME']).dt.date

In [21]:
#update
pat_sub_gen_age = patients[['SUBJECT_ID', 'GENDER']]
adm_id_hadm_adm = admissions[['SUBJECT_ID','HADM_ID','ADMITTIME', 'DISCHTIME','ETHNICITY']]
patient_admission = pd.merge(pat_sub_gen_age,adm_id_hadm_adm,on='SUBJECT_ID', how='left')

patient_admission['readmit_count'] = patient_admission.groupby('SUBJECT_ID')['SUBJECT_ID'].transform('count')
patient_admission = patient_admission.sort_values(['SUBJECT_ID','ADMITTIME'])

In [22]:
patient_admission.reset_index(drop=True, inplace =True)

In [23]:
patient_admission

,SUBJECT_ID,GENDER,HADM_ID,ADMITTIME,DISCHTIME,ETHNICITY,readmit_count
0,2,M,163353,2138-07-17,2138-07-21,ASIAN,1
1,3,M,145834,2101-10-20,2101-10-31,WHITE,1
2,4,F,185777,2191-03-16,2191-03-23,WHITE,1
3,5,M,178980,2103-02-02,2103-02-04,ASIAN,1
4,6,F,107064,2175-05-30,2175-06-15,WHITE,1
...,...,...,...,...,...,...,...
58971,99985,M,176670,2181-01-27,2181-02-12,WHITE,1
58972,99991,M,151118,2184-12-24,2185-01-05,WHITE,1
58973,99992,F,197084,2144-07-25,2144-07-28,WHITE,1
58974,99995,F,137810,2147-02-08,2147-02-11,WHITE,1
58975,99999,F,113369,2117-12-30,2118-01-04,HISPANIC OR LATINO,1

In [24]:
length = len(patient_admission)
readmission = []
interval = []
for i in range(length-1):
    if  patient_admission.iloc[i+1]['SUBJECT_ID']== patient_admission.iloc[i]['SUBJECT_ID']:
        diff = patient_admission.iloc[i+1]['ADMITTIME']-patient_admission.iloc[i]['DISCHTIME']
        interval.append(diff)
        if(diff < pd.Timedelta(31,'D')):
            readmission.append(1)
        else:
            readmission.append(0)
    else:
        readmission.append(0)
        interval.append(np.nan)
readmission.append(0)
interval.append(np.nan)

patient_admission['INTERVAL']= interval
patient_admission['readmission']= readmission

In [36]:
positive = patient_admission[patient_admission['readmission']==1]

In [38]:
positive

,SUBJECT_ID,GENDER,HADM_ID,ADMITTIME,DISCHTIME,ETHNICITY,readmit_count,INTERVAL,readmission
35,36,M,182104,2131-04-30,2131-05-08,WHITE,3,4 days,1
68,68,F,170467,2173-12-15,2174-01-03,BLACK/AFRICAN AMERICAN,2,1 days,1
105,103,F,130744,2144-08-12,2144-08-20,UNKNOWN/NOT SPECIFIED,2,10 days,1
108,105,F,161160,2189-01-28,2189-02-02,BLACK/AFRICAN AMERICAN,2,19 days,1
117,109,F,164029,2140-01-19,2140-01-21,BLACK/AFRICAN AMERICAN,34,12 days,1
...,...,...,...,...,...,...,...,...,...
58895,99756,M,154665,2191-06-15,2191-07-06,WHITE,3,28 days,1
58903,99781,M,167791,2133-07-23,2133-07-31,WHITE,2,1 days,1
58919,99822,M,146997,2197-05-30,2197-05-31,WHITE,3,16 days,1
58920,99822,M,163117,2197-06-16,2197-06-25,WHITE,3,8 days,1
58967,99982,M,151454,2156-11-28,2156-12-08,WHITE,3,28 days,1

In [39]:
# join the note
patient_admission_note = pd.merge(patient_admission, note[['HADM_ID', 'TEXT']], on=['HADM_ID'], how='inner').sort_values('SUBJECT_ID')

In [182]:
patient_admission_note

,SUBJECT_ID,GENDER,HADM_ID,ADMITTIME,DISCHTIME,ETHNICITY,readmit_count,readmission,INTERVAL,TEXT
0,3,M,145834,2101-10-20,2101-10-31,WHITE,1,0,NaT,Admission Date: [**2101-10-20**] Discharg...
1,4,F,185777,2191-03-16,2191-03-23,WHITE,1,0,NaT,Admission Date: [**2191-3-16**] Discharge...
2,6,F,107064,2175-05-30,2175-06-15,WHITE,1,0,NaT,Admission Date: [**2175-5-30**] Dischar...
3,9,M,150750,2149-11-09,2149-11-14,UNKNOWN/NOT SPECIFIED,1,0,NaT,Admission Date: [**2149-11-9**] Dischar...
4,9,M,150750,2149-11-09,2149-11-14,UNKNOWN/NOT SPECIFIED,1,0,NaT,"Name: [**Known lastname 10050**], [**Known fi..."
...,...,...,...,...,...,...,...,...,...,...
59647,99985,M,176670,2181-01-27,2181-02-12,WHITE,1,0,NaT,Admission Date: [**2181-1-27**] ...
59648,99991,M,151118,2184-12-24,2185-01-05,WHITE,1,0,NaT,Admission Date: [**2184-12-24**] ...
59649,99992,F,197084,2144-07-25,2144-07-28,WHITE,1,0,NaT,Admission Date: [**2144-7-25**] ...
59650,99995,F,137810,2147-02-08,2147-02-11,WHITE,1,0,NaT,Admission Date: [**2147-2-8**] D...
59651,99999,F,113369,2117-12-30,2118-01-04,HISPANIC OR LATINO,1,0,NaT,Admission Date: [**2117-12-30**] ...

In [40]:
patient_admission_note = patient_admission_note.groupby('HADM_ID').agg({'SUBJECT_ID':'first', 
                                                     'GENDER':'first',
                                                     'ADMITTIME':'first',
                                                     'DISCHTIME':'first',
                                                     'ETHNICITY':'first',
                                                     'readmit_count':'first',
                                                     'readmission':'first',
                                                     'INTERVAL':'first',
                                                     'TEXT': ', '.join}).reset_index()

In [41]:
patient_admission_note

,HADM_ID,SUBJECT_ID,GENDER,ADMITTIME,DISCHTIME,ETHNICITY,readmit_count,readmission,INTERVAL,TEXT
0,100001,58526,F,2117-09-11,2117-09-17,WHITE,3,0,293 days,Admission Date: [**2117-9-11**] ...
1,100003,54610,M,2150-04-17,2150-04-21,WHITE,3,0,83 days,Admission Date: [**2150-4-17**] ...
2,100006,9895,F,2108-04-06,2108-04-18,BLACK/AFRICAN AMERICAN,2,0,106 days,Admission Date: [**2108-4-6**] Discharg...
3,100007,23018,F,2145-03-31,2145-04-07,WHITE,1,0,NaT,Admission Date: [**2145-3-31**] ...
4,100009,533,M,2162-05-16,2162-05-21,WHITE,1,0,NaT,Admission Date: [**2162-5-16**] ...
...,...,...,...,...,...,...,...,...,...,...
52721,199993,20785,M,2161-10-23,2161-11-17,UNKNOWN/NOT SPECIFIED,1,0,NaT,Admission Date: [**2161-10-23**] Discha...
52722,199994,23761,F,2188-07-07,2188-07-17,WHITE,4,0,225 days,Admission Date: [**2188-7-7**] Discharg...
52723,199995,19412,M,2137-12-11,2137-12-28,WHITE,4,0,800 days,Admission Date: [**2137-12-11**] Discha...
52724,199998,27200,M,2119-02-18,2119-02-24,WHITE,1,0,NaT,Admission Date: [**2119-2-18**] ...
52725,199999,40370,M,2136-04-04,2136-04-10,WHITE,1,0,NaT,Admission Date: [**2136-4-4**] D...

In [42]:
positive_notes = patient_admission_note[patient_admission_note['readmission']==1]

In [43]:
positive_notes

,HADM_ID,SUBJECT_ID,GENDER,ADMITTIME,DISCHTIME,ETHNICITY,readmit_count,readmission,INTERVAL,TEXT
11,100020,9973,M,2142-11-30,2142-12-10,WHITE,8,1,12 days,Admission Date: [**2142-11-30**] ...
24,100039,53014,F,2174-04-18,2174-05-17,BLACK/AFRICAN AMERICAN,5,1,8 days,Admission Date: [**2174-4-18**] ...
67,100120,23014,M,2165-08-02,2165-08-05,WHITE,4,1,9 days,Admission Date: [**2165-8-2**] D...
73,100132,19984,F,2179-03-05,2179-03-24,BLACK/AFRICAN AMERICAN,3,1,0 days,Admission Date: [**2179-3-5**] D...
74,100133,70485,M,2196-09-27,2196-10-17,WHITE,4,1,23 days,Admission Date: [**2196-9-27**] ...
...,...,...,...,...,...,...,...,...,...,...
52642,199856,72147,M,2105-02-03,2105-02-07,WHITE,3,1,11 days,Admission Date: [**2105-2-3**] D...
52653,199872,31520,F,2132-03-12,2132-06-12,WHITE,2,1,3 days,Admission Date: [**2132-3-12**] ...
52662,199888,16786,F,2122-08-02,2122-08-26,WHITE,5,1,30 days,Admission Date: [**2122-8-2**] D...
52691,199940,93632,M,2108-01-04,2108-01-19,WHITE,2,1,4 days,Admission Date: [**2108-1-4**] D...
52695,199948,49225,F,2102-02-22,2102-03-02,WHITE,2,1,2 days,Admission Date: [**2102-2-22**] ...

In [44]:
patient_admission_note.to_csv('processed.csv')

***

## load the processed dataset and data exploration

In [45]:
df = pd.read_csv('processed.csv')

In [46]:
print("Number of positive 30-day readmission samples:",len(df[df['readmission']==1])," out of total admission samples:",len(df))

print("Proportion of positive 30-day readmission samples in all ethnic groups:", 
      len(df[df['readmission']==1]) / len(df))
print("Proportion of positive 30-day readmission samples in WHITE ethnic group:", 
      len(df[df['ETHNICITY']=='WHITE'][df['readmission']==1]) / len(df[df['ETHNICITY']=='WHITE']))
print("Proportion of positive 30-day readmission samples in ASIAN ethnic groups:", 
      len(df[df['ETHNICITY'].str.contains('ASIAN')][df['readmission']==1]) / len(df[df['ETHNICITY'].str.contains('ASIAN')]))
print("Proportion of positive 30-day readmission samples in BLACK ethnic group:", 
      len(df[df['ETHNICITY']=='BLACK/AFRICAN AMERICAN'][df['readmission']==1]) / len(df[df['ETHNICITY']=='BLACK/AFRICAN AMERICAN']))
print("Proportion of positive 30-day readmission samples in Males:", 
      len(df[df['GENDER']=='M'][df['readmission']==1]) / len(df[df['GENDER']=='M']))
print("Proportion of positive 30-day readmission samples in Females:", 
      len(df[df['GENDER']=='F'][df['readmission']==1]) / len(df[df['GENDER']=='F']))

print(df.ETHNICITY.value_counts())

Number of positive 30-day readmission samples: 3205  out of total admission samples: 52726
Proportion of positive 30-day readmission samples in all ethnic groups: 0.060785950005689794
Proportion of positive 30-day readmission samples in WHITE ethnic group: 0.06081481082826543
Proportion of positive 30-day readmission samples in ASIAN ethnic groups: 0.049526584122359794
Proportion of positive 30-day readmission samples in BLACK ethnic group: 0.10012489592006661
Proportion of positive 30-day readmission samples in Males: 0.06256979459239959
Proportion of positive 30-day readmission samples in Females: 0.05851132686084142
WHITE                                                       37162
BLACK/AFRICAN AMERICAN                                       4804
UNKNOWN/NOT SPECIFIED                                        4125
HISPANIC OR LATINO                                           1444
OTHER                                                        1254
ASIAN                                                         932
UNABLE TO OBTAIN                                              749
PATIENT DECLINED TO ANSWER                                    495
ASIAN - CHINESE                                               239
HISPANIC/LATINO - PUERTO RICAN                                221
BLACK/CAPE VERDEAN                                            178
WHITE - RUSSIAN                                               159
MULTI RACE ETHNICITY                                          110
BLACK/HAITIAN                                                  97
ASIAN - ASIAN INDIAN                                           80
WHITE - OTHER EUROPEAN                                         76
HISPANIC/LATINO - DOMINICAN                                    74
PORTUGUESE                                                     59
WHITE - BRAZILIAN                                              53
ASIAN - VIETNAMESE                                             47
MIDDLE EASTERN                                                 42
BLACK/AFRICAN                                                  41
AMERICAN INDIAN/ALASKA NATIVE                                  40
HISPANIC/LATINO - GUATEMALAN                                   37
WHITE - EASTERN EUROPEAN                                       24
ASIAN - FILIPINO                                               23
HISPANIC/LATINO - CUBAN                                        23
HISPANIC/LATINO - SALVADORAN                                   17
ASIAN - CAMBODIAN                                              16
ASIAN - OTHER                                                  15
NATIVE HAWAIIAN OR OTHER PACIFIC ISLANDER                      14
HISPANIC/LATINO - CENTRAL AMERICAN (OTHER)                     12
ASIAN - KOREAN                                                 11
HISPANIC/LATINO - MEXICAN                                      10
HISPANIC/LATINO - COLOMBIAN                                     9
CARIBBEAN ISLAND                                                9
SOUTH AMERICAN                                                  8
ASIAN - JAPANESE                                                6
ASIAN - THAI                                                    4
HISPANIC/LATINO - HONDURAN                                      4
AMERICAN INDIAN/ALASKA NATIVE FEDERALLY RECOGNIZED TRIBE        3
Name: ETHNICITY, dtype: int64

<ipython-input-46-7ead21788f6d>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  len(df[df['ETHNICITY']=='WHITE'][df['readmission']==1]) / len(df[df['ETHNICITY']=='WHITE']))
<ipython-input-46-7ead21788f6d>:8: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  len(df[df['ETHNICITY'].str.contains('ASIAN')][df['readmission']==1]) / len(df[df['ETHNICITY'].str.contains('ASIAN')]))
<ipython-input-46-7ead21788f6d>:10: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  len(df[df['ETHNICITY']=='BLACK/AFRICAN AMERICAN'][df['readmission']==1]) / len(df[df['ETHNICITY']=='BLACK/AFRICAN AMERICAN']))
<ipython-input-46-7ead21788f6d>:12: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  len(df[df['GENDER']=='M'][df['readmission']==1]) / len(df[df['GENDER']=='M']))
<ipython-input-46-7ead21788f6d>:14: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  len(df[df['GENDER']=='F'][df['readmission']==1]) / len(df[df['GENDER']=='F']))

Black Ethnicity has higher readmission rate

Male gender has higher readmission rate

***

# convert the dataframe to huggingface dataset

In [26]:
! pip3 install datasets

Collecting datasets
  Downloading datasets-2.2.2-py3-none-any.whl (346 kB)
     |████████████████████████████████| 346 kB 8.7 MB/s eta 0:00:01
Collecting huggingface-hub<1.0.0,>=0.1.0
  Downloading huggingface_hub-0.7.0-py3-none-any.whl (86 kB)
     |████████████████████████████████| 86 kB 8.4 MB/s  eta 0:00:01
Collecting multiprocess
  Downloading multiprocess-0.70.13-py38-none-any.whl (131 kB)
     |████████████████████████████████| 131 kB 31.1 MB/s eta 0:00:01
Requirement already satisfied: requests>=2.19.0 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from datasets) (2.27.1)
Collecting dill<0.3.5
  Downloading dill-0.3.4-py2.py3-none-any.whl (86 kB)
     |████████████████████████████████| 86 kB 12.2 MB/s eta 0:00:01
Collecting xxhash
  Downloading xxhash-3.0.0-cp38-cp38-macosx_10_9_x86_64.whl (34 kB)
Requirement already satisfied: numpy>=1.17 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from datasets) (1.18.5)
Collecting responses<0.19
  Downloading responses-0.18.0-py3-none-any.whl (38 kB)
Collecting fsspec[http]>=2021.05.0
  Downloading fsspec-2022.5.0-py3-none-any.whl (140 kB)
     |████████████████████████████████| 140 kB 47.9 MB/s eta 0:00:01
Requirement already satisfied: packaging in /Users/yge/Library/Python/3.8/lib/python/site-packages (from datasets) (21.3)
Requirement already satisfied: pandas in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from datasets) (1.4.1)
Collecting aiohttp
  Using cached aiohttp-3.8.1-cp38-cp38-macosx_10_9_x86_64.whl (574 kB)
Collecting pyarrow>=6.0.0
  Downloading pyarrow-8.0.0-cp38-cp38-macosx_10_13_x86_64.whl (22.4 MB)
     |████████████████████████████████| 22.4 MB 18.3 MB/s eta 0:00:01
Requirement already satisfied: tqdm>=4.62.1 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from datasets) (4.63.0)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from huggingface-hub<1.0.0,>=0.1.0->datasets) (4.1.1)
Requirement already satisfied: pyyaml>=5.1 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from huggingface-hub<1.0.0,>=0.1.0->datasets) (6.0)
Collecting filelock
  Downloading filelock-3.7.1-py3-none-any.whl (10 kB)
Requirement already satisfied: certifi>=2017.4.17 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from requests>=2.19.0->datasets) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0; python_version >= "3" in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from requests>=2.19.0->datasets) (2.0.12)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from requests>=2.19.0->datasets) (1.26.8)
Requirement already satisfied: idna<4,>=2.5; python_version >= "3" in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from requests>=2.19.0->datasets) (3.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /Users/yge/Library/Python/3.8/lib/python/site-packages (from packaging->datasets) (3.0.7)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/yge/Library/Python/3.8/lib/python/site-packages (from pandas->datasets) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from pandas->datasets) (2021.3)
Requirement already satisfied: attrs>=17.3.0 in /Users/yge/Library/Python/3.8/lib/python/site-packages (from aiohttp->datasets) (21.4.0)
Collecting async-timeout<5.0,>=4.0.0a3
  Using cached async_timeout-4.0.2-py3-none-any.whl (5.8 kB)
Collecting frozenlist>=1.1.1
  Using cached frozenlist-1.3.0-cp38-cp38-macosx_10_9_x86_64.whl (36 kB)
Collecting yarl<2.0,>=1.0
  Using cached yarl-1.7.2-cp38-cp38-macosx_10_9_x86_64.whl (121 kB)
Collecting aiosignal>=1.1.2
  Using cached aiosignal-1.2.0-py3-none-any.whl (8.2 kB)
Collecting multidict<7.0,>=4.5
  Using cached multidict-6.0.2-cp38-cp38-macosx_10_9_x86_64.whl (28 kB)
Requirement already satisfied: six>=1.5 in /Users/yge/Library/Python/3.8/lib/python/site-packages (from python-dateutil>=2.8.1->pandas->datasets) (1.16.0)
ERROR: multiprocess 0.70.13 has requirement dill>=0.3.5.1, but you'll have dill 0.3.4 which is incompatible.
Installing collected packages: filelock, huggingface-hub, dill, multiprocess, xxhash, responses, async-timeout, frozenlist, multidict, yarl, aiosignal, aiohttp, fsspec, pyarrow, datasets
Successfully installed aiohttp-3.8.1 aiosignal-1.2.0 async-timeout-4.0.2 datasets-2.2.2 dill-0.3.4 filelock-3.7.1 frozenlist-1.3.0 fsspec-2022.5.0 huggingface-hub-0.7.0 multidict-6.0.2 multiprocess-0.70.13 pyarrow-8.0.0 responses-0.18.0 xxhash-3.0.0 yarl-1.7.2
WARNING: You are using pip version 20.1.1; however, version 22.1.2 is available.
You should consider upgrading via the '/Library/Frameworks/Python.framework/Versions/3.8/bin/python3.8 -m pip install --upgrade pip' command.

In [33]:

import datasets
import pandas as pd
from datasets import Dataset, DatasetDict

processed_note = pd.read_csv('processed.csv')
hf_data = Dataset.from_pandas(processed_note)

ModuleNotFoundError: No module named 'datasets'

# regular expression to extract info from note

In [196]:
data1 = processed_note['TEXT'][0]
processed_note

,Unnamed: 0,SUBJECT_ID,GENDER,HADM_ID,ADMITTIME,DISCHTIME,ETHNICITY,readmit_count,readmission,INTERVAL,TEXT
0,0,3,M,145834,2101-10-20,2101-10-31,WHITE,1,0,NaN,Admission Date: [**2101-10-20**] Discharg...
1,1,4,F,185777,2191-03-16,2191-03-23,WHITE,1,0,NaN,Admission Date: [**2191-3-16**] Discharge...
2,2,6,F,107064,2175-05-30,2175-06-15,WHITE,1,0,NaN,Admission Date: [**2175-5-30**] Dischar...
3,3,9,M,150750,2149-11-09,2149-11-14,UNKNOWN/NOT SPECIFIED,1,0,NaN,Admission Date: [**2149-11-9**] Dischar...
4,4,9,M,150750,2149-11-09,2149-11-14,UNKNOWN/NOT SPECIFIED,1,0,NaN,"Name: [**Known lastname 10050**], [**Known fi..."
...,...,...,...,...,...,...,...,...,...,...,...
59647,59647,99985,M,176670,2181-01-27,2181-02-12,WHITE,1,0,NaN,Admission Date: [**2181-1-27**] ...
59648,59648,99991,M,151118,2184-12-24,2185-01-05,WHITE,1,0,NaN,Admission Date: [**2184-12-24**] ...
59649,59649,99992,F,197084,2144-07-25,2144-07-28,WHITE,1,0,NaN,Admission Date: [**2144-7-25**] ...
59650,59650,99995,F,137810,2147-02-08,2147-02-11,WHITE,1,0,NaN,Admission Date: [**2147-2-8**] D...
59651,59651,99999,F,113369,2117-12-30,2118-01-04,HISPANIC OR LATINO,1,0,NaN,Admission Date: [**2117-12-30**] ...

In [189]:
data1 = data1.lower()

In [190]:
data1

"admission date:  [**2101-10-20**]     discharge date:  [**2101-10-31**]\n\ndate of birth:   [**2025-4-11**]     sex:  m\n\nservice:  medicine\n\nchief complaint:  admitted from rehabilitation for\nhypotension (systolic blood pressure to the 70s) and\ndecreased urine output.\n\nhistory of present illness:  the patient is a 76-year-old\nmale who had been hospitalized at the [**hospital1 190**] from [**10-11**] through [**10-19**] of [**2101**]\nafter undergoing a left femoral-at bypass graft and was\nsubsequently discharged to a rehabilitation facility.\n\non [**2101-10-20**], he presented again to the [**hospital1 346**] after being found to have a systolic\nblood pressure in the 70s and no urine output for 17 hours.\na foley catheter placed at the rehabilitation facility\nyielded 100 cc of murky/brown urine.  there may also have\nbeen purulent discharge at the penile meatus at this time.\n\non presentation to the emergency department, the patient was\nwithout subjective complaints.  in the emergency department,\nhe was found to have systolic blood pressure of 85.  he was\ngiven 6 liters of intravenous fluids and transiently started\non dopamine for a systolic blood pressure in the 80.s\n\npast medical history:\n 1.  coronary artery disease with diffuse 3-vessel disease;\nright-dominant, status post proximal left circumflex stent in\n[**2101-7-9**] with occlusion of the distal left circumflex;\nstatus post right coronary artery stent on [**2101-8-26**] (no\npercutaneous coronary intervention to 99% diagonal left\ncircumflex, 80% small proximal left anterior descending\nartery, or 80% small distal left anterior descending artery).\n 2.  congestive heart failure (with an ejection fraction\nof 15% to 20%).\n 3.  type 2 diabetes with neuropathy.\n 4.  hypertension.\n 5.  diverticulosis (found on colonoscopy in [**2101-7-9**]).\n 6.  alzheimer's dementia.\n 7.  history of gastrointestinal bleed (while the patient was\ntaking eptifibatide).\n 8.  cardiac risk factors (with a baseline creatinine\nof 1.4 to 1.6).\n 9.  hypercholesterolemia.\n10.  history of methicillin-resistant staphylococcus aureus\nand pseudomonas growth in wound cultures.\n11.  severe peripheral vascular disease; status post left\nfemoral-at bypass graft on [**2101-10-11**].\n12.  chronic nonhealing foot ulcers.\n13.  recent right pedal cellulitis.\n\nallergies:  the patient has no known drug allergies.\n\nmedications on admission:\n 1.  vancomycin 1 g intravenously q.24h. for a level of less\nthan 15 (started on [**2101-10-4**]).\n 2.  levofloxacin 250 mg p.o. q.d. (started on [**2101-10-4**]).\n 3.  metronidazole 500 mg p.o. q.8h. (started on [**2101-10-4**]).\n 4.  heparin 5000 units subcutaneous b.i.d.\n 5.  simvastatin 40 mg p.o. q.d.\n 6.  lisinopril 5 mg p.o. q.d.\n 7.  furosemide 40 mg p.o. q.d.\n 8.  vitamin e 400 iu p.o. q.d.\n 9.  atenolol 25 mg p.o. q.d.\n10.  pantoprazole 40 mg p.o. q.d.\n11.  ascorbic acid 500 mg p.o. b.i.d.\n12.  nph 17 units b.i.d.\n13.  regular insulin sliding-scale.\n14.  bisacodyl 10 mg p.o./p.r. as needed.\n15.  docusate 100 mg p.o. b.i.d.\n16.  percocet 5/325 mg one tablet p.o. q.4-6h. as needed for\npain.\n17.  aspirin 81 mg p.o. q.d.\n18.  metoprolol 75 mg p.o. b.i.d.\n\nsocial history:  the patient is retired and had been living\nat home with his wife prior to his admission to the hospital\non [**2101-10-11**]; he had been living at [**hospital3 1761**] for the day prior to admission.  he is a\nsocial drinker and has a 40-pack-year smoking history;\nalthough, he quit smoking 20 years ago.\n\nphysical examination on presentation:   initial physical\nexamination revealed temperature was 96.1 degrees fahrenheit,\nheart rate was 83, blood pressure was 124/42 (following\nadministration of 3 liters of normal saline), respiratory\nwas 24, and his oxygen saturation was 100% on 2 liters nasal\ncannula.  his heart had a regular rate and rhythm.  there\nwere normal first and second heart sounds.  there was a 2/6\nsystolic ejection murmur, and there were no rubs or gallops.\nhis lungs were clear to auscultation bilaterally.  his\nabdomen was soft, nontender, and nondistended, and there were\nhypoactive bowel sounds.  he had a palpable bypass graft\npulse, [**hospital3 17394**] dorsalis pedis and posterior tibialis\npulses bilaterally; and his surgical incision was clean, dry,\nand intact.  please note that the above examination was done\nby the vascular surgery team, which was the team that was\ninitially planning to admit the patient to the hospital.\n\npertinent laboratory data on presentation:  on initial\nlaboratory evaluation the patient had a white blood cell\ncount of 12.7, hematocrit was 30.2, and platelets\nwere 282,000.  his pt was 13.5, ptt was 30.7, and inr\nwas 1.3.  his serum chemistries revealed sodium was 136,\npotassium was 5.4, chloride was 99, bicarbonate was 25, blood\nurea nitrogen was 53, creatinine was 3.2, and blood glucose\nwas 91.  his calcium was 8.2, magnesium was 2.4, and\nphosphate was 4.8.  blood cultures drawn on admission were\npending, but ultimately negative.  a urine culture taken on\nadmission was initially pending, but ultimately grew out\nyeast.  a sputum culture taken on admission was also\ninitially pending, but ultimately also grew out yeast.\n\nradiology/imaging:  his admission chest x-ray demonstrated\nstable prominence of the right main pulmonary artery; no\nfocal areas of consolidation; overall stable appearance of\nthe chest compared with a [**2101-10-15**] study.  no\nradiographic evidence of congestive heart failure or\npneumonia.\n\nhis admission electrocardiogram demonstrated a sinus rhythm,\nnonspecific inferior/lateral t wave changes, low qrs voltages\nin the limb leads, and t wave changes in v5 and v6 when\ncompared with an electrocardiogram dated [**2101-10-12**].\n\nan initial abdominal ct was a limited noncontrast examination\nthat demonstrated diffuse vascular calcifications.  no\nevidence of an abdominal aortic aneurysm or free fluid,\nincompletely imaged coronary artery calcification, a simple\nleft renal cyst, sigmoid diverticulosis, and an enlarged and\npartially calcified prostate gland.\n\nhospital course by system:\n\n1.  cardiovascular:  the patient was initially admitted to\nthe vascular intensive care unit with hypotension, decreased\nurine output, and acute renal failure; most likely secondary\nto a presumed gram-negative urosepsis (although there were\nnever any positive culture data to confirm this diagnosis).\n\nwhile boarding in the medical intensive care unit on the\nnight of admission, the patient had a sudden\ncardiorespiratory arrest.  he was resuscitated with\nepinephrine, lidocaine, and direct current cardioversion\ntimes four.  he was also intubate for airway protection.\n\nfollowing these measures, the patient returned to a sinus\nrhythm with a systolic blood pressure of approximately 100;\nthe total time elapsed from the beginning of the arrest to\nthe return of a pulse was approximately 16 minutes.  he\nsubsequently required double pressors to maintain his blood\npressure.\n\nan echocardiogram performed at the bedside demonstrated a\ntrivial pericardial effusion and a left ventricular ejection\nfraction of 20% to 25% in the setting of tachycardia and a\nhyperdynamic right ventricle; suggesting elevated right-sided\nfilling pressures.  although the definitive etiology of this\narrest remained unknown, the most likely trigger was a\nnon-q-wave myocardial infarction, as his troponin values were\nelevated to greater than 50 following his arrest.\n\na repeat echocardiogram done on [**2101-10-21**]\ndemonstrated mild left atrial dilation, an ejection fraction\nof 15% to 20%, resting regional wall motion abnormalities\nincluding inferior, mid, and apical left ventricular\nakinesis, depressed right ventricular systolic function, and\nmoderate mitral regurgitation.  compared with the prior study\nof [**2101-10-20**]; the left ventricular function was\nunchanged.  there was moderate mitral regurgitation, and the\nright ventricular function appeared worse.\n\non [**2101-10-21**], the patient was loaded with amiodarone\nand was subsequently started on oral amiodarone.  the\nfollowing day, he was started on heparin intravenously given\nhis elevated serum troponin to greater than 50; this\nmedication was continued for 72 hours.  given his elevated\ntroponins and non-q-wave myocardial infarction, the patient\nwas a candidate for cardiac catheterization.\n\nafter discussions between the medical intensive care unit\nteam and the patient's family, however, the decision was made\nto not pursue further invasive procedures given that the\npatient had been made do not resuscitate/do not intubate\nfollowing the resuscitation mentioned above, and his family\nno longer wished for aggressive resuscitating measures.\n\nby [**2101-10-23**], he was off pressors and he was\nrestarted on a beta blocker and ace inhibitor at low doses.\n\non the evening of [**2101-10-25**], the patient complained\nof substernal chest pain that was relieved by npg sl and\nmorphine.  he also had st segment depressions in v2 and v3\nthat reverted to baseline after the resolution of his pain.\ntherefore, the patient was again started on heparin;\nalthough, this was discontinued on [**2101-10-26**] when\nthe patient ruled out for a myocardial infarction by cardiac\nenzymes.  he again had substernal chest pain on [**2101-10-27**]; although, he had no electrocardiogram changes, and he\nagain ruled out for a myocardial infarction by cardiac\nenzymes.\n\nby hospital day four, the patient began to develop evidence\nof congestive heart failure given his aggressive fluid\nresuscitation, and gentle diuresis with furosemide was begun.\nby the time of his transfer to the general medicine service\non [**2101-10-26**], the patient was still significantly\nvolume overloaded following his aggressive fluid\nresuscitation in the medical intensive care unit.  therefore,\nhe was continued on the program of gentle diuresis given that\nhe was having signs and symptoms of right-sided congestive\nheart failure.  he achieved adequate diuresis by the time of\nhis discharge to rehabilitation, as his oxygen saturation was\ngreater than 95% on 2 liters nasal cannula.\n\n2.  infectious disease/sepsis:  the patient was started on\ngentamicin and piperacillin/tazobactam in addition to the\nlevofloxacin, metronidazole, and vancomycin he was already\ntaking for right lower extremity cellulitis prior to\nadmission for empiric coverage of a presumed gram-negative\nurosepsis, and he was aggressively hydrated with intravenous\nfluids.\n\non [**2101-10-21**], his levofloxacin and metronidazole was\ndiscontinued, and he was started on fluconazole given the\ngrowth of yeast on urine culture.  he was taken off of\ngentamicin on hospital day three, and his fluconazole was\ndiscontinued on hospital day five (as per the infectious\ndisease service).  he was taken off of vancomycin on\n[**2101-10-28**], and his piperacillin/tazobactam was\ndiscontinued on [**2101-10-29**].\n\ndespite the presumption of a gram-negative urosepsis\nprecipitating this admission, the patient did not have any\npositive blood or urine cultures aside from the growth of\nyeast in two urine cultures noted above.  he remained\nafebrile both before and after discontinuation of his\nantibiotics, and he was found to be clostridium difficile\nnegative on [**2101-10-28**].\n\n3.  pulmonary:  as noted above, the patient was intubated and\nhe was extubated on [**2101-10-24**].  he subsequently\ndeveloped wheezing and mild hypoxia; most likely secondary to\ncardiac asthma and fluid overload in the setting of his\naggressive fluid resuscitation.  he was gently diuresed\ntoward the end of his hospitalization, and by the time of his\nhe was maintaining an oxygen saturation of greater than 95%\non 2 liters nasal cannula, intermittent ipratropium\nnebulizers, and chest physical therapy for clearance of his\nrespiratory secretions.\n\n4.  renal:  the patient presented with acute renal failure\nand prerenal azotemia that rapidly resolved following fluid\nresuscitation.  by the time of discharge, his serum\ncreatinine was stable and at his preadmission baseline.\n\n5.  nutrition:  the patient was found to be profoundly\nmalnourished with a serum albumin of 1.8 on admission.  once\nhe was extubated and taking orals, he performed poorly on a\nmodified barium swallowing study and was started on a thin\nliquid, ground-solid diet with whole medication tablets,\nsmall bites and sips, upright posture with meals, and\naspiration precautions.  he was also given promod shakes with\nand between meals for nutritional supplementation of his\nheart-healthy/diabetic diet.\n\n6.  vascular:  the patient's operative incisions and foot\nulcers continued to heal throughout this admission.  he was\nstarted on an multivitamin, vitamin c, and zinc for improved\nwound healing.\n\n7.  hematology:  the patient was transfused one unit of\npacked red blood cells on [**2101-10-27**] to maintain a\nhematocrit of greater than 30 given his history of severe\ncoronary artery disease.  his hematocrit subsequently\nremained stable.\n\ncondition at discharge:  condition on discharge was stable.\n\ndischarge status:  [**first name4 (namepattern1) 1188**] [**last name (namepattern1) **] rehabilitation facility.\n\ndischarge diagnoses:\n 1.  cardiorespiratory arrest.\n 2.  non-q-wave myocardial infarction.\n 3.  acute renal failure.\n 4.  coronary artery disease with diffuse 3-vessel disease;\nright-dominant, status post proximal left circumflex stent in\n[**2101-7-9**] with occlusion of distal left circumflex; status\npost right coronary artery stent on [**2101-10-27**] (no\npercutaneous coronary intervention to 99%, distal left\ncircumflex, 80% small proximal left anterior descending\nartery, 80% small distal left anterior descending artery).\n 5.  congestive heart failure (with an ejection fraction\nof 15% to 20%).\n 6.  type 2 diabetes with neuropathy.\n 7.  hypertension.\n 8.  diverticulosis (found on colonoscopy in [**2101-7-9**]).\n 9.  alzheimer's dementia.\n10.  history of gastrointestinal bleed (while the patient was\ntaking eptifibatide).\n11.  cardiac risk factors (with a baseline creatinine\nof 1.4 to 1.6).\n12.  history of methicillin-resistant staphylococcus aureus\nand pseudomonas growth in wound cultures.\n13.  severe peripheral vascular disease; status post left\nfemoral-at bypass graft on [**2101-10-11**].\n14.  chronic nonhealing foot ulcers.\n\nmedications on discharge:\n 1.  amiodarone 400 mg p.o. b.i.d. (through [**2101-11-2**]), then 400 mg p.o. q.d. (times one week), then 200 mg\np.o. q.d.\n 2.  metoprolol 50 mg p.o. b.i.d.\n 3.  captopril 6.25 mg p.o. t.i.d.\n 4.  aspirin 325 mg p.o. q.d.\n 5.  pantoprazole 40 mg p.o. q.d.\n 6.  heparin 5000 units subcutaneously b.i.d.\n 7.  multivitamin one tablet p.o. q.d.\n 8.  zinc sulfate 220 mg p.o. q.d.\n 9.  vitamin c 500 mg p.o. q.d.\n10.  ipratropium nebulizers q.4-6h. as needed (for wheezing).\n11.  acetaminophen 325 mg to 650 mg p.o. q.4-6h. as needed\n(for pain).\n12.  miconazole 2% powder to groin b.i.d.\n13.  santyl lotion to heels b.i.d.\n14.  regular insulin sliding-scale.\n\ncode status:  do not resuscitate/do not intubate.\n\nnote:  if applicable, an addendum to this discharge summary\nwill be dictated to include follow-up appointments as well as\nany changes to the medication list noted above.\n\n\n\n\n\n\n                          [**first name11 (name pattern1) **] [**last name (namepattern4) 1604**], m.d.  [**md number(1) 1605**]\n\ndictated by:[**name8 (md) 2507**]\n\nmedquist36\n\nd:  [**2101-10-31**]  01:07\nt:  [**2101-11-5**]  03:44\njob#:  [**job number **]\n"

In [191]:
import re
substring = r"[\w ]+history:|discharge [\w ]+:|physical exam:|[\w ]+admission:|[\w ]+hospital course:|[\w ]+admission:|[\w ]+illness:"
p = re.compile(substring)
for m in p.finditer(data1):
    print(m.span(),m.group())

(38, 53) discharge date:
(268, 295) history of present illness:
(1181, 1202) past medical history:
(2356, 2381) medications on admission:
(3154, 3169) social history:
(12970, 12987) discharge status:
(13085, 13105) discharge diagnoses:

In [192]:
data1[13085:13105]

'discharge diagnoses:'